.md-header {
    background-color: #011742;
}

@keyframes alert {
    0% {
        transform: rotate(0deg);
        color: #0ae4c7;
    }

    25% {
        transform: rotate(-15deg) scale(1.5);
        color: #011742;
    }

    50% {
        transform: rotate(0deg);
        color: #0ae4c7;
    }

    75% {
        transform: rotate(15deg) scale(1.5);
        color: #011742;
    }

    100% {
        transform: rotate(0deg);
        color: #0ae4c7;
    }
}

.twemoji.pulse {
    animation: alert 2500ms infinite;
}